@charset "utf-8";
/* CSS Document */

body {
	width:100%;
	height:100%;
	margin:auto;
	font-size:1rem;
	background-color:#fff;
	font-family:"heebo";
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#body-container{
    width:auto;
    padding-left:10%;
    padding-right:5%;
    display:flex;
    flex-direction:row;
    margin-top:10%;
}

#menu-container{
    width:25%;
    margin-right:5%;
    background-color:#fff;
}

#gallery-container{
    background-color:#fff;
    width:75%;
    display:flex;
    flex-direction:column;
}

#filter-list-cont{
    width: 100%;
    display:flex;
    flex-direction:row;
}

#filter-list{
    display:flex;
    flex-direction:row;
    padding-left:2.5%;
}

#filter-list .filter{
    cursor:default;
}

.title{
    font-size:2vw;
    font-family:poppins;
    text-transform:lowercase;
    padding-bottom:2%;
}

#menu{
    width:100%;
    display:flex;
    flex-direction:column;
}

.sub-title{
    margin-top:2.5%;
    text-transform:lowercase;
    font-size:1.25vw;
    font-weight:bold;
}

.filter-cont{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding-top:2.5%;
    padding-bottom:5%;
}

.filter{
    cursor:pointer;
    font-size:1vw;
    padding-right:2.5%;
    padding-left:2.5%;
    margin-right:2.5%;
    margin-bottom:2.5%;
    border-radius:5%;
    background-color:rgb(250, 232, 242);
}

#gallery{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

#message{
    text-align:center;
    font-weight:bold;
}

.shade-box{
    display:flex;
    flex-direction:column;
    width:20%;
    padding-bottom:2.5%;
    padding-right:2.5%;
    transition: padding-top 1s ease;
    animation: slide-up 0.4s ease;
}

.shade-box img{
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}